.meal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 1rem; */
    padding-bottom: 0.2rem;
    border-bottom: 2px solid rgb(156, 42, 7);
    width: auto;
}

.details .quantity {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 40%;
    margin-top: -10%;
    max-width: auto;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(214, 214, 203);
    text-align: center;
    /* padding: 1%; */
    padding-left: 5%;
    margin-right: 40%;
}



.details {
    width: 50%;
}

.totalPrice {
    width: 100%;
    text-align: right;
    margin-top: -3%;
}

.totalPrice .ta {
    color: #0f0d0d;
    font-weight: bold;
    font-size: 1rem;
}
.totalPrice .tp {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #e6240a;
    font-size: 1.25rem;
}


.meal h3 {
    margin: 0 0 0.25rem 0;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 50%;
    max-width: auto;
    margin-right: -30%;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }

  .input .increase {
    font: inherit;
    cursor: pointer;
    background-color: #7c0202;
    border: 1px solid #7c0202;
    color: white;
    padding: 0.15rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5%;
  }

  .input .reduce {
    font: inherit;
    cursor: pointer;
    background-color: white;
    border: 1px solid #7c0202;
    color: white;
    padding: 0.15rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    color: #7c0202;
    margin-left: -18%;
  }

  .input .delete {
    font: inherit;
    cursor: pointer;
    background-color: rgb(255,0,0);
    border: 1px solid #7c0202;
    color: white;
    padding: 0.15rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5%;
  }