.form {
    display: flex;
    margin-left: 50%;
}
.form label {
    font-weight: bold;
    margin-right: 10%;
}

.form input {
    width: 70%;
    /* margin-left: 20%; */
}

.button {
    background-color: rgb(128, 23, 23);
    color: white;
    font-weight: bold;
    display: flex right;
    align-items: center;
    padding: 0.25rem;
    width: 40%;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 60%;
}